<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="prototypeBean" class="spring_basics.PrototypeBean" scope="prototype">
        <property name="message" value="Test Message" />
    </bean>

    <bean id="singletonBean" class="spring_basics.SingletonBean">
        <lookup-method bean="prototypeBean" name="getPrototypeBean" />
    </bean>
</beans>